/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
    //*word-wrap: break-word;*//
}

#navbar {
}

.btn {
    color: #222222;
    border: 1px solid #222222;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: "Caviar Dreams";
    font-size: 14px;
    padding: 0px auto;
}

.navigation .btn:hover {
    color: white;
}

.my-0 img {
    width: 20%;
    height: 15%;
    margin-top: 6px;
}

nav {
    text-transform: uppercase;
    font-family: "Caviar Dreams";
}

.navigation {
    margin-top: 6px;
}

.navigation a {
    color: black;
    margin: 10px;
}


.navigation a:hover {
    text-decoration: none;
    color: #17a2b8;
}

.navigation img {
    margin-left: 7px;
}

#selected {
    color: #80bdff;
}


.jumbotron {
    background-image: url("../img/hero-bg.jpg");
    background-size: cover;
    min-height: 440px;
    margin-top: -10px;
    border-radius: 0px;
}

.jumbotron-content {
    margin-top: 70px;

}

.jumbotron-heading {
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
}

.jumbotron-prices {
    background-image: url("../img/hero-bg.jpg");
    background-size: cover;
    min-height: 340px;
    margin-top: -20px;
    border-radius: 0px;
}

.jumbotron-content-prices h1 {
    font-family: Oswald;
    color: white;
    padding-top: 110px;
    text-shadow: 1px 1px 8px black ;
    text-transform: uppercase;
    font-size: 2.6em;
    line-height: 1.5em;
}

.lead {
    font-family: "Roboto Condensed";
    font-size: 25px;
    line-height: 1.6em;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}

.cara-banner {
    height: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    margin-top: -50px;
    position: absolute;
    padding: 15px;
}

div {
    display: block;
}

.reserve {
    font-family: "Caviar Dreams";
    text-transform: uppercase;
    color: #ffffff;
    min-width: 200px;
    padding: 0 auto;
}

iframe {
    width: 100%;
    min-height: 500px;
}

body {
    font-family: Open Sans;
    line-height: 21px;
    font-size: 14px;
}

.welcometext {
    padding: 80px;
    z-index: 1;
    text-align: center;
}

.welcometext p {
    text-align: center;
    margin: 30px auto;
}

.readmore-button {
    padding: 10px 20px;
    background-color: #005cbf;
    display: inline-block;
    border: 1px solid #005fd0;
    border-radius: 2px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}


.readmore-button:hover {
    border: 1px solid black;
    background-color: white;
    color: #000000;
    text-decoration: none;
}

.services {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    background-color: #e2e6ea;
}

.services div {
    padding: 20px;
}

.services ul li {
    font-family: "Open Sans";
    line-height: 1.5em;
    list-style: none;
}


.services-image {
    float: left;
}
.services-image img {
    display: inline-block;
}

.post-title {
    font-family: Oswald;
    font-weight: normal;
}

.post-content {
    display: inline-block;
    margin-left: 40px;
}

.price-main {
    text-align: center;
    padding: 20px;
}

.pricetable {
    text-align: center;
    margin: 0px auto;
    display: inline-block;

}

.pricetable h1 {
    text-transform: uppercase;
    font-family: Oswald;
    padding-bottom: 20px;
    text-align: center;
}

.price-main h3 {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: #113981;
    color: white;
    font-size: 25px;
    font-family: Oswald;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.footer-main {
    background-color: #4e555b;
    color: #ffffff;
    text-align: center;
    padding: 40px;
    display: inline-block;
    width: 100%;
}

.footer-main section {
    /*border: 1px solid yellow;*/
    margin: 10px 5%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0px;

}

.footer-menu {
    padding-left: 30px;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 40px;
    line-height: 2em;
}

.footer-menu a:hover {
    color: #80bdff;
}

.footer-menu h5 {
    padding-left: 40px;
}

.contain {
    text-align: center;
}

.footer-img {
    background-image: url("../img/logo-footer.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
    width: 180px;
    margin-bottom: 20px;
}

.bottom {
    height: 40px;
    background-color: #000000;
    text-align: center;

}

.bottom p {
    margin-bottom: 0;
    color: #ffffff;
    padding-top: 10px;
}

.hotel-slogan {
    font-family: "Orator Std";
    max-width: 300px;
}

.footer-menu {
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: lighter;
}

.footer-contact {
    font-family: Oswald;
    font-weight: lighter;
}

.footer-contact h5 {
    text-transform: uppercase;
}


.footer-contact i {
    color: white;
    margin: 5px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
